* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

header a {
    text-decoration: none;
    
}

header {
    padding: 0 20px;
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
}


#logo {
    display: flex;
    align-items:flex-start;
    height: 30px;

}


ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}


ul a{
    color: #937A8F;
  
}

ul li{
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.5);
    transition: 10px;
}

h1, h2 {
    color: white;
    float: inherit;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10%;
    }

h3 { 
    color: #937A8F;
    float:initial;
    font-size: 20px;
    }
h4 {
    color: black;
    float: initial;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 .me {
    opacity: 50%;
    float: center;    
    }


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    }

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    height: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: black;
}

    /* Tablet style */
@media screen and (min-widht: 700px) {


}


  /* Desktop style */
  @media screen and (min-widht: 1100px) {

}