/* //////............Variables - Mobile View  .........///// */

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    float: inherit;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    padding-top: 20px;
    margin-left: 20px;
}

h2 { 
    color: #937A8F;
    float:initial;
    font-size: 14px;
    margin-left: 20px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

h3 {
    color: #EA2E5B;
    float: initial;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: auto;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Mono', monospace;  
}
    
h4 { 
    color: #937A8F;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin-left: 20px;
}
    
h5 {
   font-size: 10px;
   color: black;
   font-family: 'Inconsolata', monospace;
   font-family: 'Kanit', sans-serif;
   font-family: 'Roboto Mono', monospace;
   margin-left: 20px;
}
    
h6 { 
    color: #937A8F;
    font-size: solid 8px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin-left: 0%;
}

h7 {
    color: black;
    font-family: 'Courier New', Courier, monospace ;
    margin-right: 20px;
    font-size: 10px;
    float: right;
}   

p {
    margin: 20px;
    font-size: 12px;
    color: black;
    background-color: lightgray;
    opacity: 10px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Mono', monospace; 
}
 


/* //////............General Header  - Mobile View .........///// */

header a {
    text-decoration: none;
    
}

header {
    background-color: white;
    height: 70px;
}

header ::after {
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
nav {
    background-color: white;
    float: right;
    height: 20px;
    margin: 10px;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

ul a{
    color: #937A8F;
}

ul li{
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Mono', monospace;  
}

ul li:hover {
    transform: scale(1.5);
    transition: 10px;
  
}


/* //////.......Pages Footer and Body Color -  Mobile View .......///// */

.text-footer {
    padding: none;
    color: white;
    font-size: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
    

 }

.footer-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:black;
    height: auto;
    
}

body {
    background-color: white;
    color: black;
}

/* /////////............Home  - Mobile View .........///////////// */

/* .wrapper{
    display: flex;

} */

.text {
    margin-left: 65px;
    margin-top: 20px;
}

.container-photo{
    text-align: center;
    margin-top: 30px;
}

.myphoto {
     width: 150px; 
     height: 280px; 
     border-radius: 20px;
     opacity: 80%;
}

/* ////////........About -  Mobile View............//////////////*/

main {
    /* margin-bottom: 20px; */
    margin-top: 20px solid black;
 }

 .about-container {
    margin-left: 20px;
}

.linkedin {
    width: 25px;
    height: 25px;
}

.github {
    width: 25px;
    height: 25px;

}
/* ////////........Contact - Mobile View ............//////////////*/

.contact-form {
    background-color: lightgray;
    margin: 10px;
    height: 280px;
    width: 200px;
    margin-left: 20px;
  
}

.form-control{
    width: 100px;
    background: lightgrey;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 3px;
    color: black;
    font-size: 12px;
    margin: 20px;
}

input{
    height: 10px;
}
form .submit{
    background: #937a8f;
    border-color: transparent;
    color: black;
    font-size: 10px;
    height: 40px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #EA2E5B;
    cursor: pointer;
    color: white;
}

.about-container-contact {
    margin-left: 20px;
  
}

.linkedin {
    width: 30px;
    height: 30px;
}

.github {
    width: 30px;
    height: 30px;
}

/* ////////........Blog - Mobile View............//////////////*/
      
.article-card {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 10px;
    
 }

 .article_body {
    margin-left: 5px;
    margin-top: 10px;
 }

 .article_img {
    margin-top: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px;
  
 }
 .imgart {
    width: 100px;
    height: 80px;
    border-radius: 20px;
   
 }

 .article-date {
    margin: auto;
 }
/* ////////........Article Blog Section -  Mobile View............///////////*/

.photo{
    width: 180px;
    height: 160px;
    border-radius: 20px;
 }

/* ////////........Project  Mobile View............//////////////*/

 .in-progress {
    width: 300px;
    height: 200px;
    display: block;
    border-radius: 20px;
    margin-left: 20px;
    }




@media only screen and (min-width: 601px)  {

   /* /////// ------- Variable - Desktop View -------/////////*/

h1 {
    font-size: clamp(18px, 500px, 34px);
  }

h2 {
    font-size: clamp(14px, 500px, 20px);
  }

h3 {
    font-size: clamp(15px, 500px, 25px);
 }

h4 { 
    font-size: clamp(10px, 500px, 20px);
 }

h5 { 
    font-size: clamp(8px, 500px, 12px);
 }
.text{
    margin-top: 60px;
 }
.text-footer-home{

    font-size: clamp(10px, 500px, 18px);
}
.text-footer{
    font-size: clamp(10px, 500px, 10px);
}
/* /////// ------- Header - Desktop View -------/////////*/

.logo {
        float: left;
        height: 50px;
        width: 200px;
        margin-top: 15px;
        margin-left: 20px;
    }

ul li{
        margin-left: 20px;
        font-size: 25px;
        display: flex;
        justify-content: space-around;
        align-content: right;
        margin-right: 30px;
        margin-top: 10px;
    }

/* //////------ Home - Desktop View -----//////// */ 

.myphoto {
    width: 280px; 
    height: 450px;
    border-radius: 20px;
    }


.wrapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    text-align: end;
    margin-top: 80px;
    
}  
  
.me {
    opacity: 60%;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-content: right;
    margin-right: 30px;
    margin-top: 50px;
}



 /* ///------About - Projects - Desktop View --------////// */



.contenttext {
    padding: 25px;
    margin-left: 100px;
    font-size: clamp(8px, 500px, 18px)
}

.about-container{
    margin-left: 100px;
}

.linkedin {
    width: 40px;
    height: 40px;
}

.github {
    width: 40px;
    height: 40px;
}

.in-progress {
    width: 600px;
    height: 420px;
}

h4 {
    margin-left: 100px;
}


/* /////------ Contact -Desktop View -----///// */

.contact-form {
    width: 500px;
    height: 200px;
    margin-left:  40px;
}
.form-control{
    width: 450px;
    font-size:clamp(10px, 500px, 15px) 
}
form .submit{
    background: #937a8f;
    border-color: transparent;
    border-bottom: 5px solid black;
    color: black;
    height: 40px;
    margin-top: 20px;
    font-size: clamp(10px, 500px, 15px)
}
.box-contact {
    margin-top: none;
    text-align: end;
    margin-left: auto;
    padding-left: 40px;
}
.about-container-contact{
    margin-top: none;
    text-align: end;
    margin-left: 40px;
}
.imgart {
    width: 180px;
    height: 120px;
    border-radius: 20px;
 }

.wrapper.contact{
    display: flex;
    justify-content: space-around;   
}

/* ///////------ Blog Section - Desktop View -----//////// */

.block-container{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}   
.article_body {
    margin: 10px;
    font-size: clamp(25px, 500px, 20px)
 }

 .article-card {
    display:flex;
    justify-items: auto;
    height: 150px;
    width: 400px;
 }

 /* ///////// Blog Article Section Descktop View /////// */

     
 .article-card-section {
    background-color: white;  
 }

 .photo {
    height: 300px;
    width: 400px;
    margin-left: 100px;
    float: left;
    padding: 10px;
    border: solid grey 2px;
   
}

 .article_body-section {
    display: flex;
    justify-content: end;
    margin-right: 200px;
 }

  .article1-main-p {
    background-color: white;
  }
 
 .imgart {
    width: 100px;
    height: 80px;
    border-radius: 20px;
   
 }

 .article-date {
    margin: auto;
 }




}



    /* Tablet style */
    @media screen and (min-widht: 700px) {














    }
    
    










